body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    height: 500px; /* Yüksekliği artırdım, daha fazla alan için */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: bold;
    color: #333;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #2980b9, #8e44ad);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    top: 100px; /* Konumu biraz aşağıya aldım */
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    background: #f0f0f0;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #2980b9, #8e44ad);
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    margin: 30px
}

.submit-btn:hover {
    background: linear-gradient(to right, #6a2f93, #9b59b6);
}

#loginForm {
    left: 50px;
}

#signupForm {
    left: 450px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #2980b9;
    text-align: center;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.checkbox-group input {
    margin-right: 10px;
}

.checkbox-group label {
    color: #333;
    font-size: 14px;
}
